<div id="{{::modalid}}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="display: flex;">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="font-size: 25px !important; margin-right: 10px;"></span>
				<h4 class="modal-title" style="font-size: 20px !important; margin-right: 10px;">Confirmação</h4>
			</div>
			<div class="modal-body">
<!-- 				<p>{{text}}</p> -->
				{{bodycontent}}
			</div>
			<div class="modal-footer">
				{{footercontent}}
			
<!-- 				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> -->
<!-- 				<button type="button" class="btn btn-primary" ng-click="fireConfirmAction()" data-dismiss="modal">Confirmar</button> -->
			</div>
		</div>
	</div>
</div>
